body{
    background-color: #045c69a2;
    margin: 0px;
    padding: 15px;
}

header {
    background-image: url(/img/header_bg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    border: 1px solid #fff;
    height: 30vh;
    width: 100%;
}

header img{
    width: 170px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    margin-left: 30px;
    margin-top: 70px;
}

header h1{
    color: white;
    font-size: 35px;
    margin-top: 80px;
    display: inline-block;
}

header p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
}  


.produto{
    background-color: white;
    border: 1px solid #045c69a2;
    margin-top: 10px;
    padding-left: 20px;
}

.produtos img{
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.produto p{
    margin-right: 10px;
}

.infos--fiap, .infos--cadastro, .infos--login, .infos--map, .infos--intel, .infos--ibm{
    padding: 20px;
    border: 1px solid rgb(116, 98, 98);
    margin-top: 20px;
    background-color: white;
}
.infos img{
    width: 100%;
    height: auto;
}

nav {
    border: 1px solid #fff;
    background-color: rgba(0, 24, 9, 0.493);
}

nav li{
    display: inline;
    justify-content: space-between;
    margin: 0;
}

nav li a{
    color: #FFF;                                           
    margin-right: 10px;
    display: inline-block ;
    text-decoration: none;
    margin-left: -7px;
}


nav li:last-child a {
    float: right;
    margin-right: 7px;
}

main{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.produtos{
    flex: 60%;
    width: 60%;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infos{
    flex: 40%;
    width: 40%;
}

.infos img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    font-weight: bold;
}


.infos--cadastro{
    display: flex;
    flex-direction: column;
}

.myform{
    display: flex;
    flex-direction: column;
    width:100%;
}

.myform input:last-child{
    width: 10%;
    margin-top: 20px;
}

.submit{
    background-color: rgb(14, 109, 252);
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}